.form__button_type_auth {
    margin: 216px auto 15px;
    background-color: #FFF;
    color: #000;
}

@media screen and (max-width: 604px){
    .form__button_type_auth {
      margin-top: 173px;
      margin-bottom: 20px;
    }
  }