.info-tool__icon {
    width: 120px;
    height: 120px;
    background-color: transparent;
    margin-bottom: 32px;
}

@media screen and (max-width: 604px){
    .info-tool__icon {
        margin-bottom: 40px;
    }
}