.header__account-state {
    margin: 6px 0 0 auto;
    height: fit-content;
    /*height: -moz-fit-content;*/
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 604px){
    .header__account-state {
      margin-right: 30px;
    }
  }